$prime: #9356DC;
$secondary: #FF79DA;
$third: #99E2D0;

@import "./Normalize.css";
@import "./main.css";
@import "./cards.css";
@import "./nav.css";
@import "./header.css";
@import "./footer.css";

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}