@charset "UTF-8";
@-webkit-keyframes slide-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes check-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes check-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes loader {
  0% {
    transform: scaleY(0);
    background: #9356DC;
  }
  50% {
    transform: scaleY(1);
    background: #FF79DA;
  }
  100% {
    transform: scaleY(0);
    background: #99E2D0;
  }
}
@keyframes loader {
  0% {
    transform: scaleY(0);
    background: #9356DC;
  }
  50% {
    transform: scaleY(1);
    background: #FF79DA;
  }
  100% {
    transform: scaleY(0);
    background: #99E2D0;
  }
}
@-webkit-keyframes preloader {
  0% {
    visibility: visible;
    opacity: 1;
    z-index: 10;
  }
  99% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
}
@keyframes preloader {
  0% {
    visibility: visible;
    opacity: 1;
    z-index: 10;
  }
  99% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
}
body {
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

button {
  width: 60%;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(175deg, rgb(224, 118, 246) 37%, rgb(211, 107, 219) 43%, rgb(147, 86, 220) 70%);
  color: #F6F6F6;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.btn__menu {
  width: 86%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.btn {
  position: relative;
  background-color: #F6F6F6;
  border-radius: 25px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.3);
}
.btn:hover {
  background-color: #F4EDFF;
  box-shadow: 0 20px 30px 0px rgba(0, 0, 0, 0.3);
}

.numbers {
  position: absolute;
  top: 7px;
  left: -15px;
  background-color: #9356DC;
  color: #F6F6F6;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

a, a:visited, a:focus, a:hover {
  text-decoration: none;
}

.restocard {
  margin: auto;
  width: 90%;
  max-width: 600px;
  height: auto;
  background-color: white;
  border-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.restocard:hover {
  box-shadow: 0 20px 60px 0px rgba(0, 0, 0, 0.5);
}

.restocard__picture {
  position: relative;
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  margin: auto;
}

.restocard__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.restocard__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 10px;
}

.restocard__footer h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 5px;
  padding-left: 5px;
}

.restocard__footer p {
  margin: 5px 5px;
  padding-left: 5px;
  font-size: 17px;
  font-weight: 200;
}

.flag {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background-color: #98E2D0;
  color: green;
  z-index: 2;
  border-radius: 2px;
}

.menu-items {
  display: flex;
  align-items: stretch;
  background-color: white;
  margin: auto;
  width: 89%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
  padding-left: 3%;
}
.menu-items__description {
  display: flex;
  justify-content: space-between;
}
.menu-items .price {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.menu-items .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.menu-items .check {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-size: xx-large;
  color: white;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  opacity: 0;
  width: 0;
  /*transition:  width 300ms ease-in-out, opacity 300ms;
  -webkit-transition:  width 0.3s ease-in-out, opacity 300ms;
  -moz-transition:  width 0.3s ease-in-out, opacity 300ms;
  -o-transition:  width 0.3s ease-in-out, opacity 300ms;*/
  transition: all 500ms;
}
.menu-items .fa-circle-check {
  padding: 0px;
  transform: rotate(0deg);
  transition: transform 500ms ease-in-out 100ms;
}
.menu-items:hover .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-items:hover .check {
  display: flex;
  visibility: visible;
  cursor: pointer;
  /*-webkit-transition:  width 300ms ease-in-out, opacity 300ms;
  -moz-transition:  width 300ms ease-in-out, opacity 300ms;
  -o-transition:  width 300ms ease-in-out, opacity 300ms;
  transition:  width 300ms ease-in-out, opacity 300ms;*/
  width: 78px;
  opacity: 1;
}
.menu-items:hover .fa-circle-check {
  transform: rotate(360deg);
}

.fa-heart {
  font-size: x-large;
  color: white;
  /*La property text-stroke vise à faire apparaître un contour sur l'icone FA
  Cela fonctionne car l'icone est en fait une police particulière*/
  -webkit-text-stroke: 2px black;
}
.fa-heart:hover {
  /*la property 'transparent' est capitale, sans cela, çane fonctionne pas.
  EN réalité la transparence laisse apparaître la background-image.
  ici j'ai utilisé 'background en abrégé mais le gradient fait bien office d'arrière plan comme une image*/
  color: transparent;
  background: linear-gradient(180deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 70%);
  /*Le background-clip: text sert à détourer l'icône.
  En effet, les icones FontAwesome sont en fait une police spéciale*/
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-stroke: 0px;
}

@media (min-width: 992px) {
  .menu-items {
    width: 80%;
  }
  .restocard {
    max-width: 400px;
    min-width: 350px;
    gap: 40px;
  }
  .fa-heart {
    padding-right: 15px;
  }
}
header {
  display: flex;
  justify-content: center;
  height: 60px;
  margin-bottom: 0px;
}
header img {
  width: 50%;
}

h3 a {
  text-decoration: none;
  color: #F6F6F6;
}

footer {
  padding-left: 20px;
  background-color: #363535;
  height: 200px;
}
footer h3 {
  padding-top: 30px;
  font-family: Shrikhand;
  padding-left: 0px;
}
footer .footer-menu-commit, footer .misc {
  margin-left: 0px;
}

.footer-title {
  margin-top: 0px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  background-color: #363535;
  color: #F6F6F6;
  padding-left: 0px;
  margin-left: 0px;
}
.footer__menu--left {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
  color: #F6F6F6;
}

a:hover :visited {
  text-decoration: none;
}

.fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
}

.back {
  display: none;
}

.hero {
  width: 100%;
}

.hero img {
  overflow: hidden;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
}

.container__menu-carte {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

.souligné-partiel {
  -webkit-text-decoration: underline #99E2D0 4px;
          text-decoration: underline #99E2D0 4px;
  text-underline-offset: 0.6rem;
}

.menu-restaurant {
  position: relative;
  top: -50px;
  height: auto;
  background-color: #F6F6F6;
  border-radius: 35px 35px 0px 0px;
  padding-top: 20px;
  max-width: 600px;
  margin: auto;
  margin-bottom: -50px;
}
.menu-restaurant__headline {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menu-restaurant__title {
  font-family: shrikhand;
  font-size: 25px;
}
.menu-restaurant__heart {
  font-size: x-large;
  color: gray;
}

.service {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}
.service .slide1st {
  -webkit-animation: slide-up 1000ms;
          animation: slide-up 1000ms;
}
.service .slide2nd {
  -webkit-animation: slide-up 1500ms;
          animation: slide-up 1500ms;
}
.service .slide3rd {
  -webkit-animation: slide-up 2000ms;
          animation: slide-up 2000ms;
}
.service .slide4th {
  -webkit-animation: slide-up 2500ms;
          animation: slide-up 2500ms;
}

h3 {
  font-weight: 300;
  font-size: 17px;
  padding-left: 20px;
}

h4 {
  margin-bottom: 0px;
  margin-top: 12px;
  font-size: large;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h6 {
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  margin-bottom: 0px;
  margin-top: 10px;
  padding-bottom: 10px;
}

li a {
  text-decoration: none;
  color: inherit;
}

.call2action {
  margin-top: 30px;
  width: 50%;
}
.call2action:hover {
  box-shadow: 0 20px 60px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
  .menu-restaurant {
    position: static;
    max-width: 100%;
    border-radius: 0px;
  }
  .menu-restaurant__headline {
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1000px;
    margin: auto;
  }
  .logo {
    padding-top: 6px;
    padding-bottom: 5px;
  }
  .container__menu-carte {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    height: 1000px;
    margin: auto;
  }
  .back {
    display: initial;
    position: absolute;
    top: 0px;
    left: 50px;
    font-size: 20px;
    color: inherit;
    text-decoration: none;
  }
  .call2action {
    width: 200px;
    margin-left: 400px;
  }
  .service {
    width: 40%;
  }
  .grow {
    flex-grow: 1;
  }
  .decal {
    margin-left: 300px;
    margin-right: 200px;
  }
  footer {
    height: 170px;
  }
  .footer-title {
    margin-bottom: 35px;
  }
  .footer-menus {
    display: flex;
  }
}
@media screen and (min-width: 600px) and (max-width: 991px) {
  .menu-restaurant {
    position: static;
    height: 1250px;
  }
  .logo {
    padding-top: 6px;
    padding-bottom: 5px;
    background-color: white;
    width: 100%;
  }
  body {
    background-color: #F6F6F6;
  }
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  -webkit-animation: 3500ms preloader forwards;
          animation: 3500ms preloader forwards;
}

.preloader > .ohmyfood {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 35%;
  left: 10%;
  width: 350px;
  height: 110px;
}
.preloader > .ohmyfood .prime {
  color: #9356DC;
}
.preloader > .ohmyfood .second {
  color: #FF79DA;
}
.preloader > .ohmyfood .fa-burger {
  color: #99E2D0;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-bar {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.loading-bar .bar {
  width: 17px;
  height: 100px;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  -webkit-animation: 3000ms loader linear;
          animation: 3000ms loader linear;
}
.loading-bar .bar1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.loading-bar .bar2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loading-bar .bar3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.loading-bar .bar4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.loading-bar .bar5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.loading-bar .bar6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.loading-bar .bar7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.loading-bar .bar8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.location {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E9EAEA;
  border-top: solid 3px #CFCECF;
  margin-top: 0px;
  margin-bottom: 0px;
}

.fa-location-dot {
  padding-right: 20px;
}

h1 {
  font-size: larger;
  padding-left: 15px;
  padding-right: 15px;
  width: 90%;
}

.motto {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  height: 330px;
  align-items: center;
  text-align: center;
}

.motto-subtitle {
  width: 75%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 230;
  padding-left: 20px;
  padding-right: 20px;
}

.main-call2action {
  width: 230px;
}
.main-call2action:hover {
  box-shadow: 0 20px 60px 0px rgba(0, 0, 0, 0.5);
}

h2 {
  text-align: left;
  padding-left: 30px;
}

nav {
  display: flex;
  flex-direction: column;
  height: 300px;
  max-width: 500px;
  margin: auto;
}

ul {
  width: 86%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

li {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

i {
  padding-right: 15px;
}

.fa-utensils {
  width: 20px;
}

.restocontainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #F6F6F6;
  padding-bottom: 50px;
  max-width: 1000px;
}
.restocontainer__title {
  display: flex;
  justify-content: left;
  padding-top: 30px;
  padding-left: 23px;
  margin-bottom: 10px;
}

.order {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

@media (min-width: 992px) {
  .restocontainer {
    max-width: none;
  }
  h2 {
    text-align: center;
  }
  nav {
    max-width: 100%;
    height: auto;
  }
  .btn__menu {
    margin: auto;
    margin-bottom: 30px;
    width: 95%;
    flex-direction: row;
    justify-content: center;
  }
  .btn__menu:hover li p a i .fa-solid {
    color: #9356DC;
  }
  .btn {
    width: 30%;
  }
  .restocontainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 78px;
  }
  .restocontainer__title {
    width: 100%;
    justify-content: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 991px) {
  h2 {
    text-align: center;
  }
  .menu-restaurant {
    position: static;
  }
  .logo {
    padding-top: 6px;
    padding-bottom: 5px;
    background-color: white;
    width: 100%;
  }
  body {
    background-color: #F6F6F6;
  }
}/*# sourceMappingURL=main.css.map */