h3 a{
    text-decoration: none;
    color: $light-grey;
}
footer{
    padding-left: 20px;
    background-color: $footer;
    height: 200px;
    h3{
        padding-top: 30px;
        font-family: Shrikhand;
        padding-left: 0px;
    }
    .footer-menu-commit, .misc{
        margin-left: 0px;
    }
}

.footer-title{
    margin-top: 0px;
}
.footer__menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    background-color: $footer;
    color: $light-grey;
    padding-left: 0px;
    margin-left: 0px;

    &--left{
        display: flex;
        justify-content: flex-start;
        padding-bottom: 10px;
        color: $light-grey;
    }
}


