h3 a{
    text-decoration: none;
    color: $light-grey;
}
footer{
    padding-left: 20px;
    background-color: $footer;
        .footer-menu {
            display: flex;
            flex-direction: column;
            list-style: none;
            background-color: $footer;
            color: $light-grey;
            padding-left: 0px;
        }
            li{
                padding-bottom: 5px;
            }
}
