@charset "UTF-8";
body {
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

button {
  width: 60%;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: rgb(224, 118, 246);
  background: linear-gradient(175deg, rgb(224, 118, 246) 37%, rgb(211, 107, 219) 43%, rgb(147, 86, 220) 70%);
  color: #F6F6F6;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.btn__menu {
  width: 86%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.btn {
  position: relative;
  background-color: #F6F6F6;
  border-radius: 25px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.3);
}
.btn:hover {
  background-color: #9356DC;
  box-shadow: 0 20px 30px 0px rgba(0, 0, 0, 0.3);
}

.numbers {
  position: absolute;
  top: 7px;
  left: -15px;
  background-color: #9356DC;
  color: #F6F6F6;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.restocard {
  margin: auto;
  width: 90%;
  height: auto;
  background-color: white;
  border-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.restocard:hover {
  box-shadow: 0 20px 60px 0px rgba(0, 0, 0, 0.5);
  width: 83%;
}

.restocard__picture {
  position: relative;
  width: 100%;
  height: 170px;
  object-fit: cover;
  overflow: hidden;
  margin: auto;
}

.restocard__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.restocard__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 10px;
}

.restocard__footer h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 5px;
  padding-left: 5px;
}

.restocard__footer p {
  margin: 5px 5px;
  padding-left: 5px;
  font-size: 17px;
  font-weight: 200;
}

.fa-heart {
  font-size: larger;
}
.fa-heart:hover {
  background: rgb(224, 118, 246);
  background: linear-gradient(175deg, rgb(224, 118, 246) 37%, rgb(211, 107, 219) 43%, rgb(147, 86, 220) 70%);
}

.flag {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background-color: #98E2D0;
  color: green;
  z-index: 2;
  border-radius: 2px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
  margin: auto;
  width: 89%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
  padding-left: 3%;
}
.menu-items__description {
  display: flex;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: center;
  height: 60px;
  margin-bottom: 0px;
}
header img {
  width: 50%;
}

h3 a {
  text-decoration: none;
  color: #F6F6F6;
}

footer {
  padding-left: 20px;
  background-color: #363535;
  height: 200px;
}
footer h3 {
  padding-top: 30px;
  font-family: Shrikhand;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  background-color: #363535;
  color: #F6F6F6;
  padding-left: 0px;
  margin-left: 0px;
}
.footer__menu--left {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
  color: #F6F6F6;
}

a:hover :visited {
  text-decoration: none;
}

.fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
}

.hero {
  width: 100%;
}

.hero img {
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.container__menu-carte {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.souligné-partiel {
  text-decoration: underline #99E2D0 4px;
  text-underline-offset: 0.6rem;
}

.fa-heart {
  font-size: larger;
}
.fa-heart:hover {
  background: rgb(224, 118, 246);
  background: linear-gradient(175deg, rgb(224, 118, 246) 37%, rgb(211, 107, 219) 43%, rgb(147, 86, 220) 70%);
}

.menu-restaurant {
  position: relative;
  top: -50px;
  height: auto;
  background-color: #F6F6F6;
  border-radius: 35px 35px 0px 0px;
  padding-top: 20px;
}
.menu-restaurant__headline {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menu-restaurant__title {
  font-family: shrikhand;
  font-size: 25px;
}
.menu-restaurant__heart {
  font-size: x-large;
  color: gray;
}

h3 {
  font-weight: 300;
  font-size: 17px;
  padding-left: 20px;
}

h4 {
  margin-bottom: 0px;
  margin-top: 12px;
  font-size: large;
  font-weight: 500;
}

h6 {
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 300;
}

.price {
  margin-bottom: 0px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.location {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E9EAEA;
  border-top: solid 3px #CFCECF;
  margin-top: 0px;
  margin-bottom: 0px;
}

.fa-location-dot {
  padding-right: 20px;
}

h1 {
  font-size: larger;
}

.motto {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  height: 330px;
  align-items: center;
  text-align: center;
}

.motto-subtitle {
  width: 75%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 230;
}

h2 {
  text-align: left;
  padding-left: 30px;
}

nav {
  display: flex;
  flex-direction: column;
  height: 300px;
}

ul {
  width: 86%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

li {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

i {
  padding-right: 15px;
}

.fa-utensils {
  width: 20px;
}

.restocontainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #F6F6F6;
  padding-bottom: 50px;
}
.restocontainer__title {
  display: flex;
  justify-content: left;
  padding-top: 30px;
  padding-left: 23px;
  margin-bottom: 10px;
}

.order {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

/*# sourceMappingURL=style.css.map */
