a, a:visited, a:focus, a:hover{
    text-decoration: none;
}

.restocard {
    margin: auto;
    width: 90%;
    max-width: 600px;
    height: auto;
    background-color: white;
    border-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.restocard:hover {
    box-shadow: 0 20px 60px 0px rgba(0, 0, 0, 0.5);
}

.restocard__picture {
    position: relative;
    width: 100%;
    height: 170px;
    object-fit: cover;
    overflow: hidden;
    margin: auto;
}

.restocard__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.restocard__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 10px;
}

.restocard__footer h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 5px;
    padding-left: 5px;
}

.restocard__footer p {
    margin: 5px 5px;
    padding-left: 5px;
    font-size: 17px;
    font-weight: 200;
}

.flag{
    position: absolute;
    top:12px;
    right:12px;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: #98E2D0;
    color: green;
    z-index: 2;
    border-radius: 2px;
}

.menu-items{
    display: flex;
    align-items: stretch;
    background-color: white;
    margin: auto;
    width: 89%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
    padding-left: 3%;
    &__description{
        display: flex;
        justify-content: space-between;
    }

    .price{
        min-width: fit-content; // sert à éviter le renvoi à la ligne du cigle EURO
    }

    .text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
    }

    
    .check{
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        font-size: xx-large;
        color: white;
        background-color: $third;
        border-radius: 0 15px 15px 0;
        opacity: 0;
        width: 0;
        /*transition:  width 300ms ease-in-out, opacity 300ms;
        -webkit-transition:  width 0.3s ease-in-out, opacity 300ms;
        -moz-transition:  width 0.3s ease-in-out, opacity 300ms;
        -o-transition:  width 0.3s ease-in-out, opacity 300ms;*/
        transition: all 500ms;
    }

    .fa-circle-check{
        padding: 0px;
        transform: rotate(0deg);
        transition: transform 500ms ease-in-out 100ms;
    }

    &:hover{
        .text{ // capital d'appliquer ces modifs sur la div qui recule face au check qui s'élargi!
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .check{
            display: flex;
            visibility: visible;
            cursor: pointer; //affiche un doigt pointé plutôt qu'uen flèche
            /*-webkit-transition:  width 300ms ease-in-out, opacity 300ms;
            -moz-transition:  width 300ms ease-in-out, opacity 300ms;
            -o-transition:  width 300ms ease-in-out, opacity 300ms;
            transition:  width 300ms ease-in-out, opacity 300ms;*/
            width: 78px;
            opacity: 1;
        }
        .fa-circle-check{
            transform: rotate(360deg);
        }
    }
}

.fa-heart {
    font-size: x-large;
    color: white;
    /*La property text-stroke vise à faire apparaître un contour sur l'icone FA
    Cela fonctionne car l'icone est en fait une police particulière*/
    -webkit-text-stroke: 2px black;
    &:hover {
        /*la property 'transparent' est capitale, sans cela, çane fonctionne pas.
        EN réalité la transparence laisse apparaître la background-image.
        ici j'ai utilisé 'background en abrégé mais le gradient fait bien office d'arrière plan comme une image*/
        color: transparent;
        background: linear-gradient(180deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 70%);
        /*Le background-clip: text sert à détourer l'icône.
        En effet, les icones FontAwesome sont en fait une police spéciale*/
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-stroke: 0px; //pour faire disparaître le contour
    }
}



@media (min-width: 992px) {
    .menu-items{
        width: 80%;
    }

    .restocard{
        max-width: 400px;
        min-width: 350px;
        gap: 40px;
    }


    .fa-heart{
        padding-right: 15px;
    }

}

@media screen and (min-width: 600px) and (max-width: 991px) {
    
}
