.restocard {
    margin: auto;
    width: 90%;
    max-width: 600px;
    height: auto;
    background-color: white;
    border-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.restocard:hover {
    box-shadow: 0 20px 60px 0px rgba(0, 0, 0, 0.5);
}

.restocard__picture {
    position: relative;
    width: 100%;
    height: 170px;
    object-fit: cover;
    overflow: hidden;
    margin: auto;
}

.restocard__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.restocard__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 10px;
}

.restocard__footer h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 5px;
    padding-left: 5px;
}

.restocard__footer p {
    margin: 5px 5px;
    padding-left: 5px;
    font-size: 17px;
    font-weight: 200;
}

.flag{
    position: absolute;
    top:12px;
    right:12px;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: #98E2D0;
    color: green;
    z-index: 2;
    border-radius: 2px;
}

.menu-items{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    margin: auto;
    width: 89%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
    padding-left: 3%;
    &__description{
        display: flex;
        justify-content: space-between;
    }
}

.fa-heart {
    font-size: x-large;
    color: white;
    -webkit-text-stroke: 2px black;
    &:hover {
        color: transparent;
        background: rgb(147, 86, 220);
        background: linear-gradient(180deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 70%);
        background-clip: text;
        -webkit-text-stroke: 0px;

    }
}

@media (min-width: 992px) {
    .menu-items{
        width: 80%;
    }

    .restocard{
        max-width: 400px;
        min-width: 350px;
        gap: 40px;
    }


    .fa-heart{
        padding-right: 15px;
    }

}

@media screen and (min-width: 600px) and (max-width: 991px) {
    
}
