.restocard {
    margin: auto;
    width: 90%;
    height: auto;
    background-color: white;
    border-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.restocard:hover {
    box-shadow: 0 20px 60px 0px rgba(0, 0, 0, 0.5);
    width: 83%;
}

.restocard__picture {
    width: 100%;
    height: 170px;
    object-fit: cover;
    overflow: hidden;
    margin: auto;
}

.restocard__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.restocard__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 10px;
}

.restocard__footer h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 5px;
    padding-left: 5px;
}

.restocard__footer p {
    margin: 5px 5px;
    padding-left: 5px;
    font-size: 17px;
    font-weight: 200;
}

.fa-heart{
    font-size: larger;
}