//loaders
//general loader management
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    animation: 3500ms preloader forwards;    
}

.preloader > .ohmyfood{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 35%;
    left: 10%;
    width: 350px;
    height: 110px;
    .prime {
        color: $prime;
    }
    .second {
        color: $second;
    }
    .fa-burger {
        color: $third;
    }
}


.load{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-bar {
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;

    .bar {
        width: 17px;
        height: 100px;
        display: inline-block;
        transform-origin: bottom center;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        animation: 3000ms loader linear;
    }

    .bar1 {
        animation-delay: 0.1s;
    }

    .bar2 {
        animation-delay: 0.2s;
    }

    .bar3 {
        animation-delay: 0.3s;
    }

    .bar4 {
        animation-delay: 0.4s;
    }

    .bar5 {
        animation-delay: 0.5s;
    }

    .bar6 {
        animation-delay: 0.6s;
    }

    .bar7 {
        animation-delay: 0.7s;
    }

    .bar8 {
        animation-delay: 0.8s;
    }
}
// main

.logo{
    width: 38%;
}
.location{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9EAEA;
    border-top: solid 3px #CFCECF;
    margin-top: 0px;
    margin-bottom: 0px;
}

.fa-location-dot{
    padding-right: 20px;
}

h1{
    font-size:larger;
    padding-left: 15px;
    padding-right: 15px;
    width: 90%;
}

.motto{
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: 330px;
    align-items: center;
    text-align: center;
}

.motto-subtitle{
    width: 75%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight:230;
    padding-left: 20px;
    padding-right: 20px;
}

.main-call2action{
    color: white;
    width: 230px;
    &:hover{
        box-shadow: 0 20px 60px 0px rgba(0, 0, 0, 0.5);
    }
}

h2{
    text-align: left;
    padding-left: 26px;
}

nav{
    display: flex;
    flex-direction: column;
    height: 300px;
    max-width: 500px;
    margin: auto;
}

ul{
    width: 86%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

li{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

a{  
    text-decoration: none;
    .main-call2action{
        color: white;
    }
    &:visited{
        text-decoration: none;
        color: black;
        .main-call2action{
            color: white;
        }
    }
}

i {
    padding-right: 15px;
}

.fa-utensils{
    width: 20px;
}

.restocontainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: $light-grey;
    padding-bottom: 50px;
    max-width: 1000px;
    &__title{
        display: flex;
        justify-content: left;
        padding-top: 30px;
        padding-left: 23px;
        margin-bottom: 10px;
    }
}

.order{
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
}

.btn {
    &:hover {
        i {
            color: $prime;
        }
    }
}

@media (min-width: 992px) {
    .restocontainer{
        max-width: none;
    }
    h2{
        text-align: center;
    }

    nav{
        max-width: 100%;
        height: auto;
    }

    .btn__menu{
        margin: auto;
        margin-bottom: 30px;
        width: 95%;
        flex-direction: row;
        justify-content: center;
        &:hover li p a i .fa-solid{
            color: $prime;
        }
    }

    .btn{
        width: 30%;
    }

    
    .restocontainer{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 78px;
        &__title{
            width: 100%;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 991px) {
    h2{
        text-align: center;
    }
    
    .menu-restaurant {
        position: static;

    }

    .logo {
        padding-top: 6px;
        padding-bottom: 5px;
        background-color: white;
        width: 100%;
    }

    body {
        background-color: $light-grey;
    }
}