.location{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-grey;
    border-top: solid 3px #E9EAEA;
    margin-top: 0px;
}

.fa-location-dot{
    padding-right: 20px;
}

h1{
    font-size:larger;
}

.motto{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: 280px;
    align-items: center;
    text-align: center;
}

.motto-subtitle{
    width: 75%;
    display: flex;
    justify-content: center;
    text-align: center;
}

h2{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
}

li{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}