.location{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9EAEA;
    border-top: solid 3px #CFCECF;
    margin-top: 0px;
    margin-bottom: 0px;
}

.fa-location-dot{
    padding-right: 20px;
}

h1{
    font-size:larger;
}

.motto{
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: 280px;
    align-items: center;
    text-align: center;
}

.motto-subtitle{
    width: 75%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight:230;
}

h2{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
}

li{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

a{
    text-decoration: none;
    &:visited{
        text-decoration: none;
    }
}

i {
    padding-right: 15px;
}

.fa-utensils{
    width: 20px;
}

.restocontainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: $light-grey;
    padding-bottom: 50px;
    &__title{
        display: flex;
        justify-content: left;
        padding-top: 30px;
        padding-left: 23px;
        margin-bottom: 10px;
    }
}