a:hover :visited{
    text-decoration: none;
}

.fa-arrow-left{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: inherit;
    text-decoration: none;
}

.back{
    display: none;
}

.hero{
    width: 100%;
}

.hero img{
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.container__menu-carte{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.souligné-partiel{
    text-decoration: underline $third 4px;
    text-underline-offset: 0.6rem;
}


.menu-restaurant{
    position: relative;
    top: -50px;
    height: auto;
    background-color: $light-grey;
    border-radius: 35px 35px 0px 0px;
    padding-top: 20px;
    max-width: 600px;
    margin: auto;
    //ici je rajoute la margin-bottom égale au décalage du top qui décale la position de la div
    // sans cela, il y a un espace blanc entre les deux contianer créé par la position relative décalée vers le haut.
    // il y a donc lieu de corriger le décalage créé par le positionnement relatif
    margin-bottom: -50px;
    &__headline{
        display: flex; 
        justify-content: space-evenly;
        align-items: center;
    }
    &__title{
        font-family: shrikhand;
        font-size: 25px;
    }
    &__heart{
        font-size: x-large;
        color: gray;
    }
}

.service{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    .slide1st{
        animation: slide-up 1000ms;    
    }
    .slide2nd{
        animation: slide-up 1500ms;
    }
    .slide3rd{
        animation: slide-up 2000ms;
    }
    .slide4th{
        animation: slide-up 2500ms;
    }

}

h3{
    font-weight: 300;
    font-size: 17px;
    padding-left: 20px;
}

h4{
 margin-bottom: 0px;
 margin-top: 12px;
 font-size: large;
 font-weight: 500;
}


h6{
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 15px;
    font-weight:300;
}

.price{
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 10px;
}

li a{
    text-decoration: none;
    color: inherit;
}

.call2action{
    margin-top: 30px;
    width: 50%;
}

@media (min-width: 992px) {
    .menu-restaurant {
        position: static;
        max-width: 100%;
        border-radius: 0px;
        &__headline{
            justify-content: space-between;
            padding-left: 50px;
            padding-right: 50px;
            max-width: 1000px;
            margin: auto;
        }
    }

    .logo{
        padding-top: 6px;
        padding-bottom: 5px;
    }

    .container__menu-carte{
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: auto;
    }

    .back {
        display: initial;
        position: absolute;
        top: 0px;
        left: 50px;
        font-size: 20px;
        color: inherit;
        text-decoration: none;
    }

    .call2action{
        width: 200px;
        margin-left: 400px;

    }

    .service{
        width: 40%;
    }

    .grow{
        flex-grow: 1;
    }

    .decal{
        margin-left: 300px;
        margin-right: 200px;
    }

    footer{
        height: 170px;
    }

    .footer-title{
        margin-bottom: 35px;
    }

    .footer-menus{
        display: flex;
    }

}

@media screen and (min-width: 600px) and (max-width: 991px){
    .menu-restaurant{
        position: static;
        
    }

    .logo{
        padding-top: 6px;
        padding-bottom: 5px;
        background-color: white;
        width: 100%;
    }

    body{
        background-color: $light-grey;
    }
}