a:hover :visited{
    text-decoration: none;
}

.fa-arrow-left{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
}

.hero{
    width: 100%;
}

.hero img{
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.container__menu-carte{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.souligné-partiel{
    text-decoration: underline $third 4px;
    text-underline-offset: 0.6rem;
}

.fa-heart {
    font-size: larger;
    &:hover {
        background: rgb(224, 118, 246);
        background: linear-gradient(175deg, rgba(224, 118, 246, 1) 37%, rgba(211, 107, 219, 1) 43%, rgba(147, 86, 220, 1) 70%);
    }
}
.menu-restaurant{
    position: relative;
    top: -50px;
    height: auto;
    background-color: $light-grey;
    border-radius: 35px 35px 0px 0px;
    padding-top: 20px;
    max-width: 600px;
    margin: auto;
    &__headline{
        display: flex; 
        justify-content: space-evenly;
        align-items: center;
    }
    &__title{
        font-family: shrikhand;
        font-size: 25px;
    }
    &__heart{
        font-size: x-large;
        color: gray;
    }
}

h3{
    font-weight: 300;
    font-size: 17px;
    padding-left: 20px;
}

h4{
 margin-bottom: 0px;
 margin-top: 12px;
 font-size: large;
 font-weight: 500;
}


h6{
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 15px;
    font-weight:300;
}

.price{
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 10px;
}

li a{
    text-decoration: none;
    color: inherit;
}

.call2action{
    margin-top: 30px;
}

@media (min-width: 992px) {
    .menu-restaurant {
        position: static;
        max-width: 100%;
        &__headline{
            justify-content: space-between;
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .logo{
        padding-top: 6px;
        padding-bottom: 5px;
    }

    .container__menu-carte{
        flex-wrap: wrap;
    }

}

@media screen and (min-width: 600px) and (max-width: 991px){
    .menu-restaurant{
        position: static;
        
    }

    .logo{
        padding-top: 6px;
        padding-bottom: 5px;
        background-color: white;
        width: 100%;
    }

    body{
        background-color: $light-grey;
    }
}