@keyframes slide-up {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes check-rotate{
    0% {

        transform: rotate(0);
    }

    100% {
        transform: rotate(180deg);
    }
}