@keyframes slide-up {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes check-rotate{
    0% {

        transform: rotate(0);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes loader {
    0% {
        transform: scaleY(0.1);
        background: #9356DC;
    }

    50% {
        transform: scaleY(1);
        background: #FF79DA;
    }

    100% {
        transform: scaleY(0.1);
        background: #99E2D0;
    }
}

/*@keyframes loader{
    from{
        transform: ;
    }
    to{
        transform: ;
    }
}*/