@keyframes slide-up {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes check-rotate{
    0% {

        transform: rotate(0);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes loader {
    0% {
        transform: scaleY(0);
        background: #9356DC;
    }

    50% {
        transform: scaleY(1);
        background: #FF79DA;
    }

    100% {
        transform: scaleY(0);
        background: #99E2D0;
    }
}

@keyframes preloader{
    0%{
        visibility: visible;
        opacity: 1;
        z-index: 10;
    }
    99%{
        opacity: 1;
    }
    100%{
        visibility: hidden;
        opacity: 0;
        z-index: -1;
    }
}